@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    margin: 0;
}

.logo {
    font-family: 'Satisfy', cursive;
    font-size:xx-large;
}

a {
    text-decoration: none;
    color: black;
}

#show-btn {
    cursor: pointer;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 2em 2em;
    padding: 2em;
    background-color: white;
    border: 1px solid rgb(118,181,197);
    margin-top: 1em;
}

.product-list-head{
    grid-column-start: 1;
    grid-column-end: 5;
}

.product-list img {
    object-fit: contain;
    width: 15em;
    height: 15em;
}

.item {
    text-align: center;
    line-height: 1.5em;
    border: solid 1px rgb(118,181,197);
    padding: 20px;
    border-radius: 10%;
}