.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 10px;
}

.products{
    display: flex;
    width: 90%;
    flex-direction: column;
    border: 2px solid black;
}

.items{
    display: flex;
    padding: 10px;
    margin: 10px;
}

.Price{
    display: block;
    text-align: left;
}

.items img {
    width:inherit;
    height: inherit;
}

.item-text {
    padding-left: 20px;
}

.order {
    border: 2px solid black;
    padding: 10px;
}


